*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
  color: #1d1e35;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7)) no-repeat;
  background: linear-gradient(#af67e9, #6565e7) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.card {
  position: relative;
  background: white;
  width: 330px;
  min-width: 330px;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  border-radius: 25px;
  -webkit-box-shadow: 0 10px 30px #1d1e35;
          box-shadow: 0 10px 30px #1d1e35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1000px) {
  .card {
    width: 922px;
    max-width: 922px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}
.card .img-container {
  z-index: 1;
  height: 6.8rem;
}
@media (min-width: 1000px) {
  .card .img-container {
    position: absolute;
    height: 100%;
    overflow: hidden;
  }
}
.card .img-container #mobile-img {
  -webkit-transform: translateY(-150px) scale(0.85);
          transform: translateY(-150px) scale(0.85);
}
@media (min-width: 1000px) {
  .card .img-container #mobile-img {
    display: none;
  }
}
.card .img-container #desktop-img {
  display: none;
}
@media (min-width: 1000px) {
  .card .img-container #desktop-img {
    display: block;
    -webkit-transform: translate(-80px, 70px);
            transform: translate(-80px, 70px);
    position: relative;
  }
}
.card .img-container::before {
  content: url(/images/bg-pattern-mobile.svg);
  display: block;
  overflow: hidden;
  top: 0;
  width: 80%;
  z-index: 1;
  position: absolute;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}
@media (min-width: 1000px) {
  .card .img-container::before {
    display: none;
  }
}
.card .img-container::after {
  content: url(/images/bg-pattern-desktop.svg);
  display: none;
}
@media (min-width: 1000px) {
  .card .img-container::after {
    display: block;
    top: -300px;
    left: -570px;
    z-index: -1;
    position: absolute;
  }
}
@media (min-width: 1000px) {
  .card .accordion-wrapper {
    position: relative;
    margin-left: auto;
    width: 350px;
    margin-top: 4rem;
    margin-right: 6rem;
    margin-bottom: 5rem;
  }
}
.card .accordion-wrapper .accordion {
  font-size: .84rem;
  color: #4a4b5e;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 1.1rem 0;
}
.card .accordion-wrapper .accordion::before {
  content: url(/images/icon-arrow-down.svg);
  position: absolute;
  -webkit-transform: translateX(273px);
          transform: translateX(273px);
}
@media (min-width: 1000px) {
  .card .accordion-wrapper .accordion::before {
    -webkit-transform: translateX(325px);
            transform: translateX(325px);
  }
}
.card .accordion-wrapper .accordion.open {
  font-weight: 700;
}
.card .accordion-wrapper .panel {
  border-bottom: 1px solid #e7e7e9;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.card .accordion-wrapper .panel p {
  color: #787887;
  padding-bottom: 1rem;
}
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 1000px) {
  h1 {
    text-align: left;
  }
}
#box-img {
  display: none;
  position: absolute;
  z-index: 2;
  top: 200px;
  left: -93px;
}
@media (min-width: 1000px) {
  #box-img {
    display: block;
  }
}
