*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
  color: #1d1e35;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card {
  background: white;
  width: 330px;
  min-width: 330px;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  border-radius: 25px;
}
.card .img-container {
  height: 6.8rem;
}
.card .img-container img {
  position: relative;
  -webkit-transform: translateY(-257px) scale(0.85);
          transform: translateY(-257px) scale(0.85);
}
.card .img-container::before {
  content: url(/images/bg-pattern-mobile.svg);
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  -webkit-transform: translate(20px, -22px);
          transform: translate(20px, -22px);
}
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.accordion-wrapper .accordion {
  font-size: .84rem;
  color: #4a4b5e;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 1.1rem 0;
}
.accordion-wrapper .accordion::before {
  content: url(/images/icon-arrow-down.svg);
  position: absolute;
  -webkit-transform: translateX(273px);
          transform: translateX(273px);
}
.accordion-wrapper .accordion.open {
  font-weight: 700;
}
.accordion-wrapper .panel {
  border-bottom: 1px solid #e7e7e9;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.accordion-wrapper .panel p {
  color: #787887;
  padding-bottom: 1rem;
}
